.block-projects
    &--large
        .project
            .media img
                aspect-ratio: 1

.hero
    --color-text-alt: #{rgba(255, 255, 255, 0.3)}
    --btn-color: var(--color-background)
    --color-border: var(--color-text-alt)
    --btn-border: 1px solid var(--color-border)